
.home-left-image {
    grid-area: left-image;
    background: url('../../public/resources/image/home/background-home-desktop.png')
    center/cover no-repeat;
}

.home-right-image {
    grid-area: right-image;
    background: url('../../public/resources/image/home/background-home-desktop.png')
    center/cover no-repeat;
}

.content {
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    cursor: pointer;
    z-index: 0;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    transition:
        transform 0.6s ease,
        filter 0.6s ease,
        box-shadow 0.6s ease;
}

.content:hover img {
    transform: scale(1.04);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    filter: blur(calc(3px/2));
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.content:hover .text {
    display: block;
}

.home-center-box-auth {
    grid-area: center-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: grid;
    grid-template-areas:
        "home-header home-header"
        "progress-auth profile-block-auth"
        "exercises-auth ration-auth";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 210px 1fr 1fr;
    gap: 20px;
    padding: 20px;
    z-index: 1;
}

.home-header {
    grid-area: home-header;
    text-align: center;
}

.profile-block-auth {
    grid-area: profile-block-auth;
    margin: 20px 40px 20px 20px;
}

.progress-auth {
    grid-area: progress-auth;
    margin: 20px 20px 20px 40px;
}

.ration-auth {
    grid-area: ration-auth;
    margin: 20px 40px 20px 20px;
}

.exercises-auth {
    grid-area: exercises-auth;
    margin: 20px 20px 20px 40px;
    text-align: center;
}

.home-center-box-not-auth {
    grid-area: center-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: grid;
    grid-template-areas:
        "home-header home-header"
        "auth ration-not-auth"
        "exercises-not-auth exercises-not-auth";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 210px 1fr 1fr;
    gap: 20px;
    padding: 20px;
    z-index: 1;
}

.auth {
    grid-area: auth;
    margin: 20px 20px 20px 40px;
}

.ration-not-auth {
    grid-area: ration-not-auth;
    margin: 20px 40px 20px 20px;
}

.exercises-not-auth {
    grid-area: exercises-not-auth;
    margin: 20px 40px 20px 40px;
}

/*@media (max-width: 768px) {*/
/*    .center-box {*/
/*        grid-template-areas:*/
/*            "home-header"*/
/*            "progress-or-auth"*/
/*            "ration"*/
/*            "exercises";*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-rows: auto;*/
/*        margin: 10px;*/
/*        gap: 15px;*/
/*    }*/

/*    .progress, .ration, .exercises {*/
/*        margin: 0 10px 10px 10px !important;*/
/*    }*/

/*    .text {*/
/*        display: block;*/
/*        font-size: 1.1rem;*/
/*        padding: 8px;*/
/*        background-color: rgba(0, 0, 0, 0.7);*/
/*    }*/

/*    .content:hover img {*/
/*        filter: none;*/
/*        transform: none;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .home-header img {*/
/*        max-width: 200px;*/
/*    }*/

/*    .text {*/
/*        font-size: 1rem;*/
/*        padding: 6px;*/
/*    }*/
/*}*/