.ration-left-image {
    grid-area: left-image;
    background: url('../../public/resources/image/ration/background-ration-desktop-mirror.png')
    center/cover no-repeat;
}

.ration-right-image {
    grid-area: right-image;
    background: url('../../public/resources/image/ration/background-ration-desktop.png')
    center/cover no-repeat;
}

.ration-center-box {
    grid-area: center-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: grid;
    grid-template-areas:
        "header"
        "ration-container"
        "info";
    grid-template-columns: 1fr;
    grid-template-rows: 109px 1fr 80px;
    z-index: 1;
}

.common-header {
    grid-area: header;
}

.ration-container {
    grid-area: ration-container;
    display: grid;
    grid-template-areas:
        "plan_1 plan_2 plan_3";
    grid-template-columns: 1fr 1fr 1fr;
}

.plan {
    grid-area: plan;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    font-family: 'Arial', sans-serif;
    margin: 17px;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.4s ease;
    background: white;
    cursor: pointer;
}

.plan_1 {
    grid-area: plan_1;
}

.plan_2 {
    grid-area: plan_2;
}

.plan_3 {
    grid-area: plan_3;
}

.ration-center-box:has(.plan:hover) .plan:not(:hover) {
    filter: blur(4px);
    transform: scale(0.95);
}

.plan:hover {
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.ration-info {
    grid-area: info;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 1024px) {
    .center-box {
        grid-template-areas:
            "header header"
            "plan_1 plan_2"
            "plan_3 plan_3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 109px 1fr auto;
    }

    .plan {
        margin: 12px;
        padding: 8px;
    }

    .center-box:has(.plan:hover) .plan:not(:hover) {
        filter: none;
        transform: none;
    }

    .plan:hover {
        transform: none;
        box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }
}

@media (max-width: 480px) {
    .center-box {
        grid-template-areas:
            "header"
            "plan_1"
            "plan_2"
            "plan_3";
        grid-template-columns: 1fr;
        grid-template-rows: 109px repeat(3, 1fr);
    }

    .plan {
        margin: 10px;
        padding: 6px;
        transform: none;
    }
}